*{
    margin: 0;
}
body{
    background-color:rgb(183, 114, 248);
    margin: 0;
    padding: 0;
}
.contenedor{
    background: rgb(183, 114, 248);
    width: 100vw;
    height: 100vh;
    text-align: center;
    margin-top: 20%;
}
p{    
    padding: 15%;
    font-size: xx-large;
}
button{
    font-size: xx-large;
    padding: 0.50em;
}
 #yesBt{
    transform: translate(-100%,0);
 }
 #noBtn{
    position: absolute;
 }